In [2]:
import sys
sys.path.append('/Users/cheng/Google Drive/PhD/Research/Portfolio Selection via TBN/codes/')
from module.strategy import *
from itertools import chain
import nonlinshrink as nls
from sklearn.covariance import LedoitWolf
from sklearn.covariance import OAS
from scipy.stats import moment
import numpy as np
import pandas as pd

from module.data_handler import data_handler

In [5]:
sample_30_file_path = '/Users/cheng/Google Drive/PhD/Research/Portfolio Selection via TBN/data/gvkey_ticker.csv'
sample_30 = pd.read_csv(sample_30_file_path, header=0, index_col=0)

In [12]:
dh = data_handler()

In [22]:
sample_30_gvkey_subset = [gvkey in dh.company_gvkey_vector for gvkey in sample_30.gvkey]

144

In [25]:
sample_30[sample_30_gvkey_subset]

   TICKER  gvkey
1    AAPL   1690
2    AMGN   1602
3     AXP   1447
4      BA   2285
5     CAT   2817
12    DIS   3980
19    IBM   6066
20   INTC   6008
21    JNJ   6266
24     KO   3144
25    MCD   7154
26    MMM   7435
27    MRK   7257
28   MSFT  12141
30     PG   8762