In [134]:
import pandas as pd
import numpy as np
import glob

import environment as env

In [76]:
file_path = '../data/'
file_type = '*.csv'
file_list = glob.glob(file_path + file_type)
file_list
#

['../data/1996.csv',
 '../data/1997.csv',
 '../data/2008.csv',
 '../data/2009.csv',
 '../data/2001.csv',
 '../data/2015.csv',
 '../data/2014.csv',
 '../data/2000.csv',
 '../data/2016.csv',
 '../data/2002.csv',
 '../data/2003.csv',
 '../data/2017.csv',
 '../data/2013.csv',
 '../data/2007.csv',
 '../data/2006.csv',
 '../data/2012.csv',
 '../data/2004.csv',
 '../data/2010.csv',
 '../data/2011.csv',
 '../data/2005.csv',
 '../data/1999.csv',
 '../data/1998.csv']

In [130]:
idx = pd.Index
tbn_combined = pd.DataFrame()
for file in file_list:
    year = int(file.split('/')[-1][0:4])
    tbn = pd.read_csv(file,  header = 0, index_col = [0], engine='c')
    row_num = tbn.shape[0]
    year_idx = idx(np.repeat(year, row_num))
    tbn.set_index(year_idx, append = True, inplace = True)
    tbn_combined = tbn_combined.append(tbn)
tbn_combined = tbn_combined.reorder_levels(order=[1,0])

In [107]:
tickers_key = np.array([ 1690,  1602,  1447,  2285,  2817, 20779,  2991,  3980,  5680,
        6066,  6008,  6266,  2968,  3144,  7154,  7435,  7257, 12141,
        7906,  8762,  3243, 10903,  2136, 11264, 11259])

In [115]:
[int(x) in tickers_key for x in tbn_combined.columns]

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [117]:
tbn_combined.columns[11]

'5693'

In [110]:

len(tbn_1996.columns)

25

MultiIndex([( 1447, 1996),
            ( 1602, 1996),
            ( 1690, 1996),
            ( 2136, 1996),
            ( 2285, 1996),
            ( 2817, 1996),
            ( 2991, 1996),
            ( 3144, 1996),
            ( 3243, 1996),
            ( 3980, 1996),
            ( 5680, 1996),
            ( 5693, 1996),
            ( 6008, 1996),
            ( 6066, 1996),
            ( 6266, 1996),
            ( 7154, 1996),
            ( 7257, 1996),
            ( 7435, 1996),
            ( 7906, 1996),
            ( 8762, 1996),
            (10903, 1996),
            (11259, 1996),
            (11264, 1996),
            (12141, 1996),
            (20779, 1996)],
           )

In [40]:
datetime.now().strftime("%D-%H:%M:%S")

'10/09/20-17:05:50'